/* Styles go here */
html {
    height: 100%;
}

body{
    background-color: ghostwhite;
    background-image: url(../bg.jpg);
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
    color: white;
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%;
    margin: 0;
}

.table{
    color: white;
}

#content{
    height: 100%;
    margin: 0;
   
}
